/* CSS Document */
.h-top{
	position: fixed;
	z-index: 1;
	width: 100%;
	height: 500px;
	background-image: url(data-center.jpg);
	background-position: center;
}
.h-top-heading{
	font-size: 10vw;
	color: #ffffff;
	text-align: center;
	vertical-align: middle;
	line-height: 500px;
	position: relative;
	z-index: 2;
}