/* CSS Document */
.h-top{
	margin: 0px;
	position: fixed;
	z-index: 1;
	width: 100%;
	height: 500px;
	background-image: url(pics/data-center.jpg);
	background-position: center;
}
.h-top-heading{
	font-size: 10vw;
	color: #ffffff;
	text-align: center;
	vertical-align: middle;
	line-height: 492px;
	position: relative;
	z-index: 2;
}
.main-container{
	background-color: white;
	position: relative;
	z-index: 2;
}
.link-no-deco{
	text-decoration: none;
	color: black;
}
.popular-download-table:hover{
	background-color: #78C74D;
}